.header-container
{
    height: 100vh;
    @include center(center);

    .header-contain
    {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 150px;

        .left-contain
        {
            position: relative;
            align-self: center;
            .button-content
            {
                @include center(center);
                a
                {
                    display: inline-block;
                    margin: 50px auto;
                    padding: 10px 40px;
                    border-radius: $button-radius;
                    background-color: $button-color;
                    color: black;
                }
            }
            h2
            {
                margin: 5px 0;
            }
            h4
            {
                margin: 20px 0;
            }
            .social-links
            {
                position: absolute;
                @include center(space-between);
                width: 100px;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                li a
                {
                    margin: 0 5px;
                    &:hover
                    {
                        transform: scale(1.2);
                    }
                    transition: 0.3s ease;
                }
            }
        }

        .img-contain
        {
            max-width: 400px;
            max-height: 400px;
            overflow: hidden;
            border-radius: 20%;
            box-shadow: -4px 4px 30px rgba(64, 222, 233, 0.177);
            margin: 0 auto;

            @include center(center);
            img
            {
                width: 135%;
            }
        }

        @media screen and (max-width: 900px)
        {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);

            .img-contain
            {
                grid-row: 1;
                max-width: 200px;
                max-height: 200px;
            }
            .left-contain{grid-row: 2;}
        }
    }
}