#navbar
{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #2826267c;
    backdrop-filter: blur(5px);
    @include center(space-around);

    .logo
    {
        user-select: none;
        font-size: 1.5rem;
    }

    #links_container
    {
        .links-contain
        {
            @include center(space-between);
            width: 60%;
            max-width: 600px;

            li
            {
                position: relative;
                padding: 10px 20px;
                
                &:after
                {
                    position: absolute;
                    content: '';
                    height: 100%;
                    width: 100%;
                    bottom: 0;
                    left: 50%;
                    background-color: transparent;
                    border-bottom: 2px solid $purple-color;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    transform: translateX(-50%) scaleX(0);
                    opacity: 0;
    
                    transition: 0.3s ease;
                    z-index: -1;
                }
                &:hover::after
                {
                    transform: translateX(-50%) scaleX(1);
                    opacity: 1;
                }

                cursor: pointer;
            }
        }

        transition: 0.3s ease;
    }

    #hamburger
    {
        display: none;
        position: relative;
        width: 40px;
        height: 25px;

        span
        {
            position: absolute;
            width: 40px;
            height: 5px;
            border-radius: 5px;
            background-color: $button-color;

            &:nth-child(1)
            {
                top: 0;
                left: 0;
            }
            &:nth-child(2)
            {
                top: 10px;
                left: 0;
            }
            &:nth-child(3)
            {
                top: 20px;
                left: 0;
            }

            transition: 0.3s ease;
        }

        cursor: pointer;
        transition: 0.4s ease;
    }

    @media screen and (max-width: 900px)
    {
        justify-content: space-between;

        .logo
        {
            margin-left: 50px;
        }

        #links_container
        {
            position: fixed;
            top: 0;
            right: -200px;
            height: 100vh;
            background-color: $second-color;

            .links-contain
            {
                margin-top: 80px;
                display: flex;
                flex-direction: column;
                width: 200px;

                li
                {
                    padding: 20px 40px;
                }
            }
        }

        #links_container.open
        {
            right: 0;
        }

        #hamburger
        {
            text-align: center;
            display: block;
            position: fixed;
            top: 40px;
            right: 50px;
            width: 40px;
        }
        #hamburger.open
        {
            right: 80px;

            span
            {
                &:nth-child(1)
                {
                    top: 10px;
                    transform: rotate(45deg);
                }
                &:nth-child(2)
                {
                    opacity: 0;
                }
                &:nth-child(3)
                {
                    top: 10px;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    z-index: 1010;

    transition: 0.3s ease;
}