.presentation-container
{
    @include center(center);
    padding-bottom: 100px;

    .presentation-contain
    {
        display: grid;
        grid-template-areas:
        "left right"
        "center center";
        gap: 50px;
        max-width: 1200px;
        text-align: center;
    }
    .left-contain{grid-area: left;}
    .center-contain{grid-area: center;}
    .right-contain{grid-area: right;}

    .left-contain, .right-contain
    {
        border-bottom: 2px solid $red-color;
    }
    .left-contain
    {
        border-right: 2px solid $red-color;
        transform: translateX(-$translate_animation);
    }
    .right-contain
    {
        border-left: 2px solid $red-color;
        transform: translateX($translate_animation);
    }
    .center-contain
    {
        border-top: 2px solid $red-color;
        transform: translateY($translate_animation);
    }
    .contain
    {
        border-radius: $contain-radius;
        padding: 40px;
        opacity: 0;

        h3
        {
            margin-bottom: 10px;
        }

        transition: 1s ease;
    }

    @media screen and (max-width: 900px)
    {
        .presentation-contain
        {
            grid-template-areas:
            "left"
            "right"
            "center";
        }
        .center-contain
        {
            border-right: 2px solid $red-color;
            border-bottom: 2px solid $red-color;
            border-top: transparent;
        }
    }
}