* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: aliceblue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #222;
  overflow-x: hidden;
}

main {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #67CAB9;
  font-size: 1.2rem;
  font-weight: 600;
}

input, textarea, a, button {
  z-index: 1000;
}

a, button {
  cursor: pointer;
}

#main_page.open {
  opacity: 0.3;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#navbar {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: rgba(40, 38, 38, 0.4862745098);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1010;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
#navbar .logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.5rem;
}
#navbar #links_container {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
#navbar #links_container .links-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  max-width: 600px;
}
#navbar #links_container .links-contain li {
  position: relative;
  padding: 10px 20px;
  cursor: pointer;
}
#navbar #links_container .links-contain li:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 50%;
  background-color: transparent;
  border-bottom: 2px solid #6f40f0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transform: translateX(-50%) scaleX(0);
      -ms-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: -1;
}
#navbar #links_container .links-contain li:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
      -ms-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
  opacity: 1;
}
#navbar #hamburger {
  display: none;
  position: relative;
  width: 40px;
  height: 25px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
#navbar #hamburger span {
  position: absolute;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background-color: #67CAB9;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
#navbar #hamburger span:nth-child(1) {
  top: 0;
  left: 0;
}
#navbar #hamburger span:nth-child(2) {
  top: 10px;
  left: 0;
}
#navbar #hamburger span:nth-child(3) {
  top: 20px;
  left: 0;
}
@media screen and (max-width: 900px) {
  #navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #navbar .logo {
    margin-left: 50px;
  }
  #navbar #links_container {
    position: fixed;
    top: 0;
    right: -200px;
    height: 100vh;
    background-color: #282626;
  }
  #navbar #links_container .links-contain {
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 200px;
  }
  #navbar #links_container .links-contain li {
    padding: 20px 40px;
  }
  #navbar #links_container.open {
    right: 0;
  }
  #navbar #hamburger {
    text-align: center;
    display: block;
    position: fixed;
    top: 40px;
    right: 50px;
    width: 40px;
  }
  #navbar #hamburger.open {
    right: 80px;
  }
  #navbar #hamburger.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #navbar #hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  #navbar #hamburger.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.header-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-container .header-contain {
  display: grid;
  grid-template-columns: auto auto;
  -webkit-column-gap: 150px;
     -moz-column-gap: 150px;
          column-gap: 150px;
}
.header-container .header-contain .left-contain {
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
}
.header-container .header-contain .left-contain .button-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-container .header-contain .left-contain .button-content a {
  display: inline-block;
  margin: 50px auto;
  padding: 10px 40px;
  border-radius: 10px;
  background-color: #67CAB9;
  color: black;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header-container .header-contain .left-contain .button-content a:hover {
  color: white;
  background-color: #6f40f0;
}
.header-container .header-contain .left-contain h2 {
  margin: 5px 0;
}
.header-container .header-contain .left-contain h4 {
  margin: 20px 0;
}
.header-container .header-contain .left-contain .social-links {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header-container .header-contain .left-contain .social-links li a i {
  color: #67CAB9;
  margin: 0 5px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header-container .header-contain .left-contain .social-links li a i:hover {
  color: #6f40f0;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.header-container .header-contain .img-contain {
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
  border-radius: 20%;
  -webkit-box-shadow: -4px 4px 30px rgba(64, 222, 233, 0.177);
          box-shadow: -4px 4px 30px rgba(64, 222, 233, 0.177);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-container .header-contain .img-contain img {
  width: 135%;
}
@media screen and (max-width: 900px) {
  .header-container .header-contain {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .header-container .header-contain .img-contain {
    grid-row: 1;
    max-width: 200px;
    max-height: 200px;
  }
  .header-container .header-contain .left-contain {
    grid-row: 2;
  }
}

.presentation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
  overflow-x: hidden;
}
.presentation-container .presentation-contain {
  display: grid;
  grid-template-areas: "left right" "center center";
  gap: 50px;
  max-width: 1200px;
  text-align: center;
}
.presentation-container .left-contain {
  grid-area: left;
}
.presentation-container .center-contain {
  grid-area: center;
}
.presentation-container .right-contain {
  grid-area: right;
}
.presentation-container .left-contain, .presentation-container .right-contain {
  border-bottom: 2px solid #e2364d;
}
.presentation-container .left-contain {
  border-right: 2px solid #e2364d;
  -webkit-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
          transform: translateX(-100px);
}
.presentation-container .right-contain {
  border-left: 2px solid #e2364d;
  -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
          transform: translateX(100px);
}
.presentation-container .center-contain {
  border-top: 2px solid #e2364d;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
}
.presentation-container .contain {
  border-radius: 20px;
  padding: 40px;
  opacity: 0;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}
.presentation-container .contain h3 {
  margin-bottom: 10px;
}
@media screen and (max-width: 900px) {
  .presentation-container .presentation-contain {
    grid-template-areas: "left" "right" "center";
  }
  .presentation-container .center-contain {
    border-right: 2px solid #e2364d;
    border-bottom: 2px solid #e2364d;
    border-top: transparent;
  }
}

.competences-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px 0;
  background-color: #282626;
  border-radius: 20px;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.competences-container .competences-contain {
  width: 90%;
}
.competences-container .competences-contain h2 {
  margin-top: 20px;
  text-align: center;
}
.competences-container .competences-contain .web-contain, .competences-container .competences-contain .programmation-contain {
  display: grid;
  gap: 20px;
}
.competences-container .competences-contain .web-contain {
  grid-template-rows: repeat(2, 1fr);
}
.competences-container .competences-contain .programmation-contain {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media screen and (max-width: 900px) {
  .competences-container .competences-contain .programmation-contain {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
.competences-container .competences-contain .web-contain, .competences-container .competences-contain .programmation-container {
  margin: 40px 0;
}
.competences-container .competences-contain .web-contain p, .competences-container .competences-contain .programmation-container p {
  margin: 5px;
}
.competences-container .competences-contain .web-contain h3, .competences-container .competences-contain .programmation-container h3 {
  text-align: center;
  margin-top: 10px;
}
.competences-container .competences-contain .web-contain .progress, .competences-container .competences-contain .programmation-container .progress {
  width: 100%;
  height: 30px;
  background-color: #222;
  border-radius: 200px;
}
.competences-container .competences-contain .web-contain .progress h4, .competences-container .competences-contain .programmation-container .progress h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  width: 10%;
  border-radius: 200px;
  font-size: 1.2rem;
  -webkit-transition: 2s ease;
  -o-transition: 2s ease;
  transition: 2s ease;
}
.competences-container .competences-contain .web-contain .front-progress h4, .competences-container .competences-contain .programmation-container .front-progress h4 {
  background: -webkit-gradient(linear, left top, right top, from(#e2364d), color-stop(111.1111111111%, #6f40f0));
  background: -o-linear-gradient(left, #e2364d 0%, #6f40f0 111.1111111111%);
  background: linear-gradient(90deg, #e2364d 0%, #6f40f0 111.1111111111%);
}
.competences-container .competences-contain .web-contain .back-progress h4, .competences-container .competences-contain .programmation-container .back-progress h4 {
  background: -webkit-gradient(linear, left top, right top, from(#e2364d), color-stop(1000%, #6f40f0));
  background: -o-linear-gradient(left, #e2364d 0%, #6f40f0 1000%);
  background: linear-gradient(90deg, #e2364d 0%, #6f40f0 1000%);
}
.competences-container .competences-contain .web-contain .python-progress h4, .competences-container .competences-contain .programmation-container .python-progress h4 {
  background: -webkit-gradient(linear, left top, right top, from(#e2364d), color-stop(142.8571428571%, #6f40f0));
  background: -o-linear-gradient(left, #e2364d 0%, #6f40f0 142.8571428571%);
  background: linear-gradient(90deg, #e2364d 0%, #6f40f0 142.8571428571%);
}
.competences-container .competences-contain .web-contain .c-progress h4, .competences-container .competences-contain .programmation-container .c-progress h4 {
  background: -webkit-gradient(linear, left top, right top, from(#e2364d), color-stop(166.6666666667%, #6f40f0));
  background: -o-linear-gradient(left, #e2364d 0%, #6f40f0 166.6666666667%);
  background: linear-gradient(90deg, #e2364d 0%, #6f40f0 166.6666666667%);
}
.competences-container .competences-contain .web-contain .js-progress h4, .competences-container .competences-contain .programmation-container .js-progress h4 {
  background: -webkit-gradient(linear, left top, right top, from(#e2364d), color-stop(250%, #6f40f0));
  background: -o-linear-gradient(left, #e2364d 0%, #6f40f0 250%);
  background: linear-gradient(90deg, #e2364d 0%, #6f40f0 250%);
}
.competences-container .competences-contain .web-contain .php-progress h4, .competences-container .competences-contain .programmation-container .php-progress h4 {
  background: -webkit-gradient(linear, left top, right top, from(#e2364d), color-stop(1000%, #6f40f0));
  background: -o-linear-gradient(left, #e2364d 0%, #6f40f0 1000%);
  background: linear-gradient(90deg, #e2364d 0%, #6f40f0 1000%);
}
@media screen and (max-width: 600px) {
  .competences-container .competences-contain .web-contain h3, .competences-container .competences-contain .programmation-container h3 {
    font-size: 1rem;
    margin: 10px 0;
  }
  .competences-container .competences-contain .web-contain p, .competences-container .competences-contain .programmation-container p {
    font-size: 0.8rem;
  }
  .competences-container .competences-contain .web-contain .progress, .competences-container .competences-contain .programmation-container .progress {
    height: 20px;
  }
  .competences-container .competences-contain .web-contain .progress h4, .competences-container .competences-contain .programmation-container .progress h4 {
    font-size: 0.8rem;
  }
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 100px 0;
  background-color: #282626;
  border-radius: 20px;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.contact-container h3 {
  margin-top: 40px;
}
.contact-container .contact-contain {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr auto 1fr;
  grid-template-areas: "username email" "title title" "description description" "submit submit";
  gap: 20px;
  margin: 20px 0;
}
@media screen and (max-width: 600px) {
  .contact-container .contact-contain {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr auto 1fr;
    grid-template-areas: "username" "email" "title" "description" "submit";
  }
}
.contact-container .username-contain {
  grid-area: username;
}
.contact-container .email-contain {
  grid-area: email;
}
.contact-container .title-contain {
  grid-area: title;
}
.contact-container .description-contain {
  grid-area: description;
}
.contact-container .submit-content {
  grid-area: submit;
}
.contact-container .contain {
  width: 100%;
}
.contact-container .contain textarea, .contact-container .contain input {
  font-size: 1rem;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  background-color: #222;
  resize: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.contact-container .contain textarea:focus, .contact-container .contain input:focus {
  border: 1px solid #6f40f0;
  border-radius: 10px;
}
.contact-container .contain textarea {
  height: 200px;
}
.contact-container .contain span {
  color: red;
  font-size: 0.8rem;
  visibility: hidden;
}
.contact-container .submit-content {
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}
.contact-container .submit-content button {
  padding: 5px 50px;
  color: black;
  background-color: #67CAB9;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.contact-container .submit-content button:hover {
  color: white;
  background-color: #6f40f0;
}

footer {
  padding: 50px;
  background-color: #282626;
  text-align: center;
  width: 100%;
}/*# sourceMappingURL=style.css.map */